{% load static %}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" /> <!--아이콘 쉽게 받기-->
<!doctype html>
<html lang="ko">
        <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <head>

        <title>상권에 진심, 부루주아</title>

        <meta name="viewport" content="width=device-width, user-scalable=no, width=1366">

        <link rel="shortcut icon" href="{% static 'resource/PC/images/favicon/favicon6654.ico?v1' %}">
        <link rel="icon" type="image/png" href="{% static 'resource/PC/images/favicon/favicon-32x326654.png?v1' %}" sizes="32x32">
        <link rel="icon" type="image/png" href="{% static 'resource/PC/images/favicon/favicon-16x166654.png?v1' %}"  sizes="16x16">
        <link rel="icon" type="image/png" href="{% static 'resource/PC/images/favicon/favicon-96x966654.png?v1' %}" sizes="96x96">
        <link rel="apple-touch-icon-precomposed" href="{% static 'resource/PC/images/favicon/apple-icon-120x1206654.png?v1' %}" sizes="120x120">
        <link rel="apple-touch-icon-precomposed" href="{% static 'resource/PC/images/favicon/apple-icon-180x1806654.png?v1' %}" sizes="180x180">
        <link rel="icon" type="image/png" href="{% static 'resource/PC/images/favicon/android-icon-192x1926654.png?v1' %}" sizes="192x192">
        <link rel="shortcut icon" type="image/x-icon" href="{% static 'resource/PC/images/favicon/favicon.ico' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'resource/PC/css/p_common.min.css' %}" >
        <link rel="stylesheet" type="text/css" href="{% static 'resource/PC/css/p_contents.min.css' %}">

        <!--List css 시작-->  
        {% comment %} <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" href="{% static 'css/notice_list.css' %}"> {% endcomment %}
        <!--List script 시작-->
        {% if not request.session.session_ID  %}
        <script>
            alert("로그인을 하셔야 글쓰기가 가능합니다.")
            location.href="{% url 'membership:login' %}"
        </script>
        {%endif%}
        <script>
            function writeBtn(){
            location.href="{% url 'qnaboard:fWrite' nowpage category searchword %}"
            }
        </script>
        <!--List css, script 끝.-->


        <!--fReply script 시작-->
        <script>
            function cancelBtn(){
              if (confirm('답글을 취소하시겠습니까?')){
                location.href="{% url 'qnaboard:fList' nowpage  category searchword  %}"
              }
        
            }
        </script>
        <!--fReply script 끝-->




        <!-- fWrite script 시작-->
        {% if not request.session.session_ID  %}
        <script>
          alert("로그인을 하셔야 글쓰기가 가능합니다.")
          location.href="{% url 'membership:login' %}"
        </script>
        {%endif%}
          <script>
            function cancelBtn(){
              if (confirm('글쓰기를 취소하시겠습니까?')){
                location.href="{% url 'qnaboard:fList' nowpage category searchword %}"
              }
            }
          </script>
        <!-- fWrite script 끝-->




    </head>
    



    <body class="wrapper mainWrapper">
        <p class="skip"><a href="#container">본문 바로가기</a></p>

        <section id="wrapper">

            <header>
              <h1 class="topLogo"><a href="{% url 'web'%}">bourgeois</a></h1>
            <nav>
              <div class="navList">
                <h2><a href="{% url 'analytics:inner' %}">지역별 분석</a></h2>
                <h2><a href="{% url 'navertrend:search_page' %}">네이버 트렌드</a></h2>
                <h2><a href="{% url 'adminpage:fList' nowpage=1 nowpage=1 category='first' searchword='first' %}">Q&A게시판</a></h2>
                {% if request.session.session_ID == "반갑습니다" %}
                
                {% elif request.session.session_ID %}
                <h2><a href="{% url 'membership:myApageopen' %}">MY분석</a></h2>
                {% else %}
                <h2><a href="{% url 'membership:signup' %}">가입하여 MY분석보기</a></h2>
                {% endif %}
              </div>
          
            </nav>
            <div class="topUtil">
            {% if request.session.session_ID == "반갑습니다" %}
                <a href="{% url 'membership:logout' %}" class="logout">로그아웃</a>
                <a href="{% url "adminpage:list"  nowpage=1 category='first' searchword='first'  %}" class="mypage">회원관리</a>
            {% elif request.session.session_ID %}
              <a href="{% url 'membership:logout' %}" class="logout">로그아웃</a>
              <a href="{% url 'membership:mypage' %}" class="mypage">마이페이지</a>
            {% else %}
              <a href="{% url 'membership:login' %}" class="login">로그인</a>
            {% endif %}
              <ul class="navEtc">
              </ul>
            </div>
            </header>
            
                <div id="container" class="container" style="overflow: hidden; padding-bottom: 164px; text-align: center; min-height: 10vh;">

                    <div id="contents" class="contents rentcarMainContests">
<!--@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@윗쪽 상단 끝@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@-->
{% block content-block %}





<!--@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@아래 하단 시작@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@-->
                    {% endblock content-block %} 
                    <br>
                        <div class="container"  style="margin-bottom: -380px;  min-height: 60vh;" >

                            <div class="mainCont">

                                <div class="mainCont">
                                    <h3 class="titDep2">서비스 이용안내</h3>
                                    <ul class="mainIcon">
                                        <li class="reservation"><a href="#"><span>회사스케쥴</span></a></li>
                                        <li class="insurance"><a href="#"><span>상권정보</span></a></li>
                                        <li class="return"><a href="#"><span>지역정보</span></a></li>
                                        <li class="info"><a href="#"><span>트랜드정보</span></a></li>
                                        <li class="cancellation"><a href="#"><span>주의사항</span></a></li>
                                        <li class="refund"><a href="#"><span>이용약관</span></a></li>
                                    </ul>
                                    <div class="mainNews">
                                        <div class="txt">
                                            <h4 class="titDep3">부르주아 뉴스레터 구독하기</h4>
                                            <p class="desc">매주 부르주아의 속 깊은 이야기를 받아보세요!</p>
                                        </div>
                                        <div class="email">
                                            <input type="text" placeholder="구독신청 이메일을 입력해주세요." subscriptionsInp>
                                            {% comment %} <button type="button" class="btnDefault btnL action" subscriptionsBtn>신청</button> {% endcomment %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><!-- //컨텐츠 영역 -->
                    </div>
                </div>
    
                



        

        </section><!-- //wrapper -->

        <footer>
            <div class="footTop">
                <div class="footInner">
                    <ul class="footMenu">
                        <li><strong class="tit">부르주아</strong><a href="#" role="button">회사소개</a><a href="#" role="button">회원혜택 안내</a></li>
                        <li><strong class="tit">고객센터</strong><a href="#" role="button">공지사항</a><a href="#" role="button">자주찾는질문</a><a href="#" role="button">예약확인</a></li>
                        <li><strong class="tit">ESG</strong><a href="#" role="button">그린 앰버서더</a><a href="#" role="button">캠페인 기부</a></li>
                    </ul>
                    <div class="footAppDown">
                        <h5>App 다운로드</h5>
                        <span class="txt">부르주아 앱 설치하고 <br>더 편리하게 이용하세요.</span>
                        <ul class="appLink">
                            <li><button type="button" class="google" onclick="location.href='#';">구글플레이</button></li>
                            <li><button type="button" class="ios" onclick="location.href='#';">앱스토어</button></li>
                        </ul>
                    </div>
                    <div class="footCenter">
                        <h5>전화예약 / 고객상담</h5>
                        <span class="txt">이용에 궁금하신 점이 <br>있으신가요?</span>
                        <div class="callInfo">
                            <p class="callNum">1544-0445</p>
                            <ul class="callTime">
                                <li><span class="tit">평일</span>09:00 ~ 18:00</li>
                                <li><span class="tit">점심시간</span>12:00 ~ 13:00</li>
                            </ul>
                        </div>
                        <div class="snsList">
                            <a href="#" role="button" target="_blank" class="insta">인스타그램</a>
                            <a href="#" role="button" target="_blank" class="blog">네이버 블로그</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footBtm">
                <div class="footInner">
                <ul class="footMenu">
                    <li><a href="web/policy/privacy.html" role="button">개인정보처리방침</a></li>
                    <li><a href="web/policy/use.html" role="button">이용약관</a></li>
                </ul>
                <p class="txtFoot">
                    <span>(주)부르주아 대표이사 : 이현창</span>
                    <span>사업자등록번호 : 105-87-76000 <a class="btns" href="../www.ftc.go.kr/bizCommPop64eb.html?wrkr_no=1058776000" target="_blank">사업자정보조회</a>
                            </span>
                    <span>
                                통신판매신고 제2015-제주연동-43호
                            </span>
                    <span>관광사업자 등록번호 : 제2021-08호</span>
                </p>
                <p class="txtFoot" style="margin:0">
                    <span>제주특별자치도 제주시 신광로 21, 4층 (우)63125</span>
                </p>
                <p class="txtFoot02">
                    (주)부르주아는 개별 분석 및 상품에 대하여 정보제공자로서 판매의 당사자가 아니며 해당상품의 거래정보 및 거래 등에 대해 책임을 지지 않습니다.
                    <br/>
                    (주)부르주아는 정보제공 파트너사가 제공하는 정보에 대하여 정보중개자의 지위를 가지며, 해당 상품, 해당 정보, 거래에 관한 의무와 책임은 판매자에게 있습니다.
                </p>

                <p class="txtCopy">
                    <span>Copyright ⓒ BOURGEOIS All Rights Reserved</span>
                </p>
                <div class="footEtc">
                    <span>SECURED BY RapidSSL</span>
                    <span>WEB AWARD 수상</span>
                </div>
                </div>
            </div>
        </footer>

        <div class="dimmed"></div>


            <script type="text/javascript" src="../static/resource/PC/js/jquery-3.6.0.min.js"></script>
            <script type="text/javascript" src="../static/resource/PC/js/jquery-ui.min.js"></script>
            <script type="text/javascript" src="../static/resource/PC/js/swiper.min.js"></script>
            <script type="text/javascript" src="../static/resource/PC/js/p_selectbox.js"></script>
            <script type="text/javascript" src="../static/resource/PC/js/jquery.scrollbar.min.js"></script>
            <script type="text/javascript" src="../static/resource/PC/js/p_common.js"></script>
            <script type="text/javascript" src="../static/resource/PC/js/moment.min.js"></script>
            <script type="text/javascript" src="../static/resource/js/jquery.cookie.js"></script>
            <script type="text/javascript" src="../static/resource/js/store.modern.min.js"></script>
            <script type="text/javascript" src="../api.jejupass.com/display/js/jpp.js"></script>
            <script type="text/javascript" src="../api.jejupass.com/display/js/jpp.extend.js"></script>
            <script type="text/javascript" src="../api.jejupass.com/display/js/jpp.sso.js"></script>
    </body>

</html>